<div class="container mt-5">
    <h1 class="text-center">Calling External API in angular</h1>
    <h2>Get Request https://jsonplaceholder.typicode.com/posts/1/comments</h2>
  
    <table class="table table-bordered pt-2">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Post Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Body</th>
        </tr>
      </thead>
      <tr *ngFor="let comment of commentList">
        <td>{{comment.id}}</td>
        <td>{{comment.postId}}</td>
        <td>{{comment.name}}</td>
        <td>{{comment.email}}</td>
        <td>{{comment.body}}</td>
      </tr>
    </table>
  
  
    <h2 class="mt-5">Get with params https://jsonplaceholder.typicode.com/comments?postId=1</h2>
  
    <table class="table table-bordered pt-2">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Post Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Body</th>
        </tr>
      </thead>
      <tr *ngFor="let post of postData">
        <td>{{post.id}}</td>
        <td>{{post.postId}}</td>
        <td>{{post.name}}</td>
        <td>{{post.email}}</td>
        <td>{{post.body}}</td>
      </tr>
    </table>
  
    <h2 class="mt-5">Post Data Returned (https://jsonplaceholder.typicode.com/posts)</h2>
  
    <table class="table table-bordered pt-2">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>User Id</th>
          <th>Title</th>
          <th>Body</th>
        </tr>
      </thead>
      <tr>
        <td>{{objPost?.id}}</td>
        <td>{{objPost?.userId}}</td>
        <td>{{objPost?.title}}</td>
        <td>{{objPost?.body}}</td>
      </tr>
    </table>
  
  
  
    <h2 class="mt-5">Put Data Returned (https://jsonplaceholder.typicode.com/posts/1)</h2>
    <table class="table table-bordered pt-2">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>User Id</th>
          <th>Title</th>
          <th>Body</th>
        </tr>
      </thead>
      <tr>
        <td>{{objPut?.id}}</td>
        <td>{{objPut?.userId}}</td>
        <td>{{objPut?.title}}</td>
        <td>{{objPut?.body}}</td>
      </tr>
    </table>
  
  
    <h2 class="mt-5">Patch Data Returned (https://jsonplaceholder.typicode.com/posts/1)</h2>
    <table class="table table-bordered pt-2">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>User Id</th>
          <th>Title</th>
          <th>Body</th>
        </tr>
      </thead>
      <tr>
        <td>{{objPatch?.id}}</td>
        <td>{{objPatch?.userId}}</td>
        <td>{{objPatch?.title}}</td>
        <td>{{objPatch?.body}}</td>
      </tr>
    </table>
  
    <h2 class="mt-5">Delete API (https://jsonplaceholder.typicode.com/posts/1)</h2>
    <table class="table table-bordered pt-2">
      <thead class="thead-dark">
        <tr>
          <th>Response from Delete API</th>
        </tr>
      </thead>
      <tr>
        <td>{{message}}</td>
      </tr>
    </table>
  
  </div>
